#content 
{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#thing-container 
{
  margin-top: 20px;
}

#images
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  width: 50%;
  height: auto;
}

#text
{
  color: black;
  font-family: sans-serif;
}

body
{
  background-color: white;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li
{
  float: left;
}
li a
{
  display: block;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active)
{
  background-color: black;  
}

.active
{
  background-color: cornflowerblue;
}
